<header class="header">
  <div class="container">
    <nav class="navbar navbar-inverse" role="navigation">
      <div class="navbar-header">
        <button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
          <span class="sr-only">Navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="#" class="navbar-brand scroll-top logo"><b>Bill's Resume</b></a>
      </div>
      <!--/.navbar-header-->
      <div id="main-nav" class="collapse navbar-collapse">
        <ul class="nav navbar-nav" id="mainNav">
          <li class="active"><a pageScroll href="#home" class="scroll-link">Home</a></li>
          <li><a pageScroll href="#aboutMe" class="scroll-link">About Us</a></li>
          <li><a pageScroll href="#skills" class="scroll-link">Skills</a></li>
          <li><a pageScroll href="#experience" class="scroll-link">Experience</a></li>
          <li><a pageScroll href="#portfolio" class="scroll-link">Portfolio</a></li>
          <li><a pageScroll href="#contactUs" class="scroll-link">Contact Me</a></li>
        </ul>
      </div>
      <!--/.navbar-collapse-->
    </nav>
    <!--/.navbar-->
  </div>
  <!--/.container-->
</header>
<!--/.header-->

<div id="#top"></div>
<section id="home">
  <div class="banner-container">
    <!-- <img src="../assets/images/banner-bg.jpg" alt="banner" /> -->
    <div class="marker-container">
      <svg viewBox="0 0 2000 500" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g stroke="none" fill="none" fill-rule="evenodd" fill-opacity="0">
          <text id="@BillChan" stroke="#CC4646" fill="#645F5A" font-weight="normal" font-family="PermanentMarker-Regular, Permanent Marker"
            font-size="144">
            <tspan x="3" y="109">
              <tspan>@</tspan>
              <tspan>B</tspan>
              <tspan>i</tspan>
              <tspan>l</tspan>
              <tspan>l </tspan>
              <tspan>C</tspan>
              <tspan>H</tspan>
              <tspan>A</tspan>
              <tspan>N</tspan>
              <tspan>:</tspan>
            </tspan>
          </text>
        </g>
        <g stroke="none" fill="none" fill-rule="evenodd" fill-opacity="0">
          <text id="@BillChan" stroke="#CC4646" fill="#645F5A" font-weight="normal" font-family="PermanentMarker-Regular, Permanent Marker"
            font-size="80">
            <tspan x="3" y="300">
              <tspan>A </tspan>
              <tspan>S</tspan>
              <tspan>o</tspan>
              <tspan>f</tspan>
              <tspan>t</tspan>
              <tspan>w</tspan>
              <tspan>a</tspan>
              <tspan>r</tspan>
              <tspan>e </tspan>
              <tspan>E</tspan>
              <tspan>n</tspan>
              <tspan>g</tspan>
              <tspan>i</tspan>
              <tspan>n</tspan>
              <tspan>e</tspan>
              <tspan>e</tspan>
              <tspan>r, </tspan>
              <tspan>A </tspan>
              <tspan>W</tspan>
              <tspan>e</tspan>
              <tspan>b </tspan>
              <tspan>D</tspan>
              <tspan>e</tspan>
              <tspan>v</tspan>
              <tspan>l</tspan>
              <tspan>o</tspan>
              <tspan>p</tspan>
              <tspan>e</tspan>
              <tspan>r, </tspan>
              <tspan>A </tspan>
              <tspan>P</tspan>
              <tspan>e</tspan>
              <tspan>r</tspan>
              <tspan>s</tspan>
              <tspan>o</tspan>
              <tspan>n </tspan>
              <tspan>w</tspan>
              <tspan>i</tspan>
              <tspan>t</tspan>
              <tspan>h </tspan>
              <tspan>P</tspan>
              <tspan>a</tspan>
              <tspan>s</tspan>
              <tspan>s</tspan>
              <tspan>i</tspan>
              <tspan>o</tspan>
              <tspan>n</tspan>
            </tspan>
          </text>
        </g>
      </svg>
      <svg class="pulse" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <circle id="Oval" cx="512" cy="512" r="512"></circle>
        <circle id="Oval" cx="512" cy="512" r="512"></circle>
        <circle id="Oval" cx="512" cy="512" r="512"></circle>
      </svg>
    </div>

    <a class="scroll-link-mouse" pageScroll href="#aboutMe">
      <svg class="mouse" viewBox="0 0 76 130" preserveAspectRatio="xMidYMid meet">
        <g fill="none" fill-rule="evenodd">
          <rect width="70" height="118" x="1.5" y="1.5" stroke="#FFF" stroke-width="3" rx="36" />
          <circle class="scroll" cx="36.5" cy="31.5" r="4.5" fill="#FFF" />
        </g>
      </svg>
    </a>
  </div>
</section>

<section id="introText">
  <div class="container">
    <div class="text-center">
      <h1 style="white-space: pre-wrap">{{introHeader}}</h1>
      <p>{{introContent}}</p>
    </div>
  </div>

</section>

<!--About-->
<section id="aboutMe" class="secPad">
  <div class="container">
    <div class="heading text-center">
      <!-- Heading -->
      <h2>{{aboutMeHeader}}</h2>
      <p>{{aboutMeContent}}</p>
    </div>
    <div class="row">
      <!-- item -->
      <div class="col-md-4 text-center tileBox">
        <div class="txtHead"> <i class="fab fa-java fa-5x"></i>
          <h3>Java <span class="id-color">Development</span></h3>
        </div>
        <p style="text-align: left">
          <li *ngFor="let item of javaDevelopmentContent">{{item}}</li>
        </p>
      </div>
      <!-- end: -->

      <!-- item -->
      <div class="col-md-4 text-center tileBox">
        <div class="txtHead"><i class="fab fa-angular fa-5x"></i>
          <h3>Angular <span class="id-color">Web-Solution</span></h3>
        </div>
        <p style="text-align: left">
          <li *ngFor="let item of angularDevelopmentContent">{{item}}</li>
        </p>
      </div>
      <!-- end: -->

      <!-- item -->
      <div class="col-md-4 text-center tileBox">
        <div class="txtHead"><i class="fab fa-python fa-5x"></i>
          <h3>Python <span class="id-color">Data Analysis</span></h3>
        </div>
        <p style="text-align: left">
          <li *ngFor="let item of pythonDevelopmentContent">{{item}}</li>
        </p>
      </div>
      <!-- end: -->
    </div>
  </div>
</section>

<!--Quote-->
<section id="quote" class="bg-parlex">
  <div class="parlex-back">
    <div class="container secPad text-center">
      <h2>If You Are Curious, You Are ALIVE.</h2>
      <h3>-National Geographic If. LIVE CURIOUS</h3>
    </div>
    <!--/.container-->
  </div>
</section>

<!--Skills-->
<section id="skills" class="secPad white">
  <div class="container">
    <div class="heading text-center">
      <!-- Heading -->
      <h2>My Skills</h2>
      <p>A combination of both analytical mindset for solution design and technical skillsets for implementation</p>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <h2>Programming <strong>Skills</strong></h2>
        <p class="mrgBtm20">
          It takes knowledge, smart work, and dedication to make great ideas come to life. I have been helping make
          great ideas happen for the past 7 years and am always ready for new challenges.

        </p>
        <div class="row">
          <div class="col-md-2 skilltitle">Java</div>
          <div class="col-md-8">
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"
                style="width: 90%;">
                <span class="sr-only">90% Complete</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 skilltitle">Python/R</div>
          <div class="col-md-8">
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"
                style="width: 90%;">
                <span class="sr-only">90% Complete</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 skilltitle">Angular</div>
          <div class="col-md-8">
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"
                style="width: 80%;">
                <span class="sr-only">80% Complete</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 skilltitle">MySQL</div>
          <div class="col-md-8">
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"
                style="width: 80%;">
                <span class="sr-only">80% Complete</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <h2>Analytical <strong>Skills</strong></h2>
        <p class="mrgBtm20">
          Problem solving is not always about sitting in a board room talking about the way things should be done. I
          have a strong background in Data Analysis and Programming Languages skillsets required which allows me to
          think on my feet and act upon it.
        </p>
        <div class="row">
          <div class="col-md-2 skilltitle">Data Mining</div>
          <div class="col-md-8">
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"
                style="width: 90%;">
                <span class="sr-only">90% Complete</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 skilltitle">Web Scraping</div>
          <div class="col-md-8">
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"
                style="width: 80%;">
                <span class="sr-only">80% Complete</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 skilltitle">Machine Learning</div>
          <div class="col-md-8">
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"
                style="width: 70%;">
                <span class="sr-only">70% Complete</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section id="experience">
  <div class="container">
    <div class="heading text-center">
      <!-- Heading -->
      <h2>Professional Experience</h2>
      <p>Including Full-Time Jobs, Part-Time Jobs, and Internships</p>
    </div>
  </div>
  <div class="timline-container">
    <div class="timeline-slider">
      <div class="swiper-container" [swiper]="config">
        <div class="swiper-wrapper">
          <div class="swiper-slide" *ngFor="let slide of slides" data-year="2011" [ngStyle]="{'background-image': slide.photo}">
            <div class="swiper-slide-content"><span class="timeline-year">{{slide.year}}</span>
              <h4 class="timeline-title">{{slide.title}}</h4>
              <p class="timeline-text">{{slide.text}}</p>
            </div>
          </div>
        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>

</section>


<!--Portfolio-->
<section id="portfolio" class="page-section section appear clearfix secPad">
  <div class="container">

    <div class="heading text-center">
      <!-- Heading -->
      <h2>Portfolio</h2>
      <p>A collection of my Photography and Projects Screenshots</p>
    </div>
    <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>

  </div>
</section>


<!--Contact -->
<section id="contactUs" class="page-section secPad">
  <div class="container">

    <div class="row">
      <div class="heading text-center">
        <!-- Heading -->
        <h2>Let's Keep In Touch!</h2>
        <p>Thank you for visiting out my profile. If you would like to get into contact with me, please fill out the
          form below.</p>
      </div>
    </div>

    <div class="row mrgn30">

      <form method="post" action="" id="contactfrm" role="form">

        <div class="col-sm-4">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" name="name" id="name" placeholder="Enter name" title="Please enter your name (at least 2 characters)">
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" name="email" id="email" placeholder="Enter email" title="Please enter a valid email address">
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label for="comments">Comments</label>
            <textarea name="comment" class="form-control" id="comments" cols="3" rows="5" placeholder="Enter your message…"
              title="Please enter your message (at least 10 characters)"></textarea>
          </div>
          <div class="button-container-2">
            <span class="mas">Submit</span>
            <button name="submit" type="button" name="Hover" id="submit">Submit</button>
          </div>
          <div class="result"></div>
        </div>
      </form>
      <div class="col-sm-4">
        <h4>Address:</h4>
        <address>
          Hong Kong University of Science and Technology<br>
          Clear Water Bay, Kowloon<br>
          Hong Kong, China
          <br>
        </address>
        <h4>Email:</h4>
        <address>
          billpwchan@hotmail.com<br>
        </address>
      </div>
    </div>
  </div>
  <!--/.container-->
</section>
<footer>
  <div class="container">
    <div class="social text-center">
      <a href="mailto:billpwchan@hotmail.com" target="_top"><i class="fas fa-envelope"></i></a>
      <a href="https://www.linkedin.com/in/billpwchan1998"><i class="fab fa-linkedin"></i></a>
      <a href="https://github.com/billpwchan"><i class="fab fa-github"></i></a>
    </div>

    <div class="clear"></div>
    <!--CLEAR FLOATS-->
  </div>
</footer>
<!--/.page-section-->
<section class="copyright">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        Copyright 2019 | All Rights Reserved
      </div>
    </div>
    <!-- / .row -->
  </div>
</section>
<a pageScroll href="#home" class="topHome"><i class="fa fa-chevron-up fa-2x"></i></a>
